<h1>
    {{title}}
</h1>

<p>哈哈哈哈哈</p>



这是一个表格

<app-hehe></app-hehe>

<input type="text" [(ngModel)]="hehe" /> {{hehe}}
<span>asdfasdfasdf</span>

<div fmGrid="hehewaeae" [option]="'asdfasdfasd'" [color]="color">
    洒洒的发生的啊是短发说的发生的阿斯顿阿斯顿



    <table>
        <tr>
            <td style="background:red;" (click)="dir()">asdfasdf</td>
            <td>fasdfasdf</td>
            <td>fasdfasdff</td>
            <td>fasdgasd</td>
            <td>fasdgasdg</td>
            <td>fasdgasdgfasdgas</td>
            <td>fasdgasdgfasdgas</td>
            <td>asdgasdg</td>
            <td>asdgasdgg</td>
            <td>gasdgasdgsdg</td>
        </tr>
        <tr>
            <td>gasdgasdgasdgasdgasd</td>
            <td>ljljlj</td>
            <td>jljll</td>
            <td>kjkljklj</td>
            <td>kjlklk</td>
            <td>jlklkjlk</td>
            <td>kljlklk</td>
            <td>kjlkljlkk</td>
            <td>kllklkl</td>
            <td>kjlkllkll</td>
        </tr>
        <tr>
            <td>nllljlk</td>
            <td>kkljlklk</td>
            <td>kklllkln</td>
            <td>lkklkjllkk</td>
            <td>kjlkljlkkkk</td>
            <td>lkkllkkk</td>
            <td>kjlkkj</td>
            <td>lkklkjllkklk</td>
            <td>kljlklkl</td>
            <td>kjlkljlkk</td>
        </tr>
        <tr>
            <td>sdfasd</td>
            <td>sdfasdsd</td>
            <td>efasgsd</td>
            <td>efagas</td>
            <td>asdgasd</td>
            <td>asdfasdf</td>
            <td>efagas</td>
            <td>ga</td>
            <td>asd</td>
            <td>那些人事物</td>
        </tr>
    </table>

    <div>

        发生的发生的asdfasdf啊是短发啊是短发啊是短发啊是短发阿斯顿发生的发生的阿斯顿阿斯顿


    </div>

</div>